* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body {
    background: #EDF2FF;
    font-family: 'Roboto', sans-serif;
    }
    
    a {
      text-decoration: none;
    }
    
    .conteiner {
    text-align: center;
    width: 300px;
    margin: 60px auto;
    }
    
    img {
      width: 100%;
    }
    
    img.avatar {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      border: 4px #4263EB solid;
      padding: 3.7px;
    }
    
    h1 {
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 32px;
    color: #00082F
    }
    
    .username {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: #00082F;
    opacity: 0.8;
    font-size: 18px;
    }
    
    ul {
    list-style: none;
    margin: 48px 0;
    }
    
    ul li a {
      height: 53px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #4263EB;
      color: white;
      text-transform: uppercase;
      margin-bottom: 16px;
      border-radius: 6px;
      transition: background 400ms;
    }
    
    /* pseudo-class */
    ul li a:hover {
      background: #364FC7;
    }
    
    footer {
      font-weight: 400;
      font-size: 12px;
      color: #00082F;
      opacity: 0.6;
      transition: 400ms;
    }
    
    footer:hover {
      opacity: 1;
    }
    
    footer a {
      color: #00082F;
    }